# DATABASE
DATABASE_URL=""

# REDIS
REDIS_URL=""

# API
API_PORT=4000
API_SECRET="your-secret-key-here"
NODE_ENV="development"

# WEB
NEXT_PUBLIC_API_URL="http://localhost:"
NEXT_PUBLIC_SITE_URL="https"
NEXT_PUBLIC_GA_ID=""

# EMAIL (for contact form)
RESEND_API_KEY=""
CONTACT_EMAIL="hi@tanishkkhare.dev"

